.article-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px 10px;
    background: var(--white);
}

.navigation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.navigation-container span{
  font-size:  1rem;
  color: var(--black);
}

.navigation-container:hover span{
  font-size:  1rem;
  color: var(--marine-green);
}
  
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-navigation{
  width: 25px;
  height: 25px;
}

.icon-navigation img {
  width: 100%;
  height: 100%;
}
  
.prev {
  text-align: left;
}
  
.next {
  text-align: right;
}

.navigation-art-link{
  text-decoration: none;
}

