.value-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(155, 93, 229, 0.46) 0%, rgba(211, 231, 249, 0.95) 100%);
  padding: 80px 10px;
}

.team-section-content h2 {
  position: relative;
  font-size: clamp(1.5625rem, 1.2946rem + 1.3393vw, 2.5rem);
  padding-left: clamp(38px, 8vw, 60px); /* Asegura espacio para el before */
}

.team-section-content h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0; /* Se mantiene alineado con el padding del h2 */
  width: clamp(30px, 5vw, 50px);
  height: 3px;
  background-color: var(--marine-green);
  transform: translateY(-50%);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


/* Para pantallas de 1024px o más: 3 tarjetas por fila */
@media (min-width: 1024px) {
  .value-section{
    padding: 80px 70px;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Para pantallas entre 768px y 1023px: 2 tarjetas por fila */
@media (min-width: 768px) and (max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


