.service-container {
    display        : flex;
    flex-wrap      : wrap;
    gap            : 35px;
    justify-content: center;
    padding-top    : 0;
    padding-bottom : 0;
    background     : linear-gradient(180deg, rgba(155, 93, 229, 0.4) 0%, #D3E7F9 100%);
}

.left-column,
.right-column {
    flex   : 1;
    padding: 0;
}

.left-column {
    border         : 1px solid black;
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 0px;
}

.left-column img {
    height: 568px;
    width : 568px;
    top   : 855px;
    left  : 128px;
}

.right-column {
    border         : 1px solid black;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 50px;
}

.paragraphOne p {
    font-size    : 1rem;
    line-height  : 1.5rem;
    margin-bottom: 2rem;

}


.items p {
    font-size  : 1rem;
    line-height: 1.5rem;

}

.right-column h2 {
    margin-top : .1rem;
    font-size  : 2rem;
    line-height: 1.5rem;
    width      : 30rem;
    line-height: 2.5rem;
}

/* Seccion Cartas! */

.secion-card-container {
    display        : flex;
    flex-direction: column;
    justify-content: center;
    gap            : 35px;
    background     : #ffffff;
    padding-top    : 0;
    padding-bottom : 0;
    padding: 1rem;
    padding-bottom: 6.6rem;
}

.secion-card-container h2 {
    font-family             : Roboto;
    font-size               : 40px;
    font-weight             : 500;
    line-height             : 46.88px;
    text-align              : left;
    
}

.card-group{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: left;
}

.card-container {
    width        : 297px;
    height       : 192px;
    top          : 1612px;
    left         : 66px;
    gap          : 0px;
    border-radius: 10px;
    border       : 1px solid var(--marine-green);
    padding: 1rem;
    box-shadow     : 0px 4px 4px 0px #00000040; 
    transition     : transform 0.3s ease, box-shadow 0.3s ease;
    perspective    : 1000px;
    transform-style: preserve-3d;
}

.card-container:hover {
    box-shadow : 0px 8px 12px 0px #00000040; 
}

.card-container h3 {
    padding-top: 1rem;
    font-family            : Roboto;
    font-size              : 18px;
    font-weight            : 500;
    line-height            : 21.09px;
    text-align             : center;
    text-underline-position: from-font;
    color                  : var(--purple);

}

.card-container p {
    padding-top: .3rem;
    font-family            : Roboto;
    font-size              : 16px;
    font-weight            : 400;
    line-height            : 18.75px;
    text-align             : center;
    text-underline-position: from-font;

}