.blog-hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
}

.blog-title{
    text-align: center;
    font-size: 3rem;
    color: var(--white);
}

.blog-subtitle{
    text-align: center;
    font-size: 1.5rem;
}

.blog-description{
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--black);
    margin-top: 10px;
    max-width: 660px;
}

@media(min-width: 1024px){
    .blog-title{
        font-size: 4.375rem;
    }
}

