.article-page{
  display: flex;
  flex-direction: column;
  cursor: default;
  background: var(--white);
}

.article-image{
  display: block;
  position: relative;
  width: 100%;
  height: clamp(350px, 50vw, 700px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* ajustá la opacidad */
  z-index: 1;
}

.article-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 0; 
}

.article-content-container{
  display: flex;
  justify-content: center;
  max-width: 2024px;
}

.article-content{
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.title-article{
  font-size: clamp(1.875rem, 1.7434rem + 0.6579vw, 2.8125rem);
  color: var(--purple);
}

/* CSS DEL COMPONENTE ARTICLE CONTENT
.article-sections{
    padding: 20px 10px;
}

.article-sections h2 {
    font-size: clamp(1.5625rem, 1.4748rem + 0.4386vw, 2.1875rem);
    font-weight: 400;
    color: var(--black);
    padding: 10px 0;
}

.article-sections h3{
    font-size: clamp(1.25rem, 1.1623rem + 0.4386vw, 1.875rem);
    font-weight: 500;
    color: var(--marine-green);
}

.article-sections p, .article-sections ul li{
    font-size: clamp(1rem, 0.9825rem + 0.0877vw, 1.125rem);
    color: var(--black);
}

*/

@media(min-width: 1020px){
  .article-content{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 70px 10px 30px 10px;
  }

  .content-block:first-child {
    width: 65%;
  }
  
  .content-block:last-child {
    width: 35%;
  }
}