:root {
  /* Colores */
  --purple: #9B5DE5;
  --white: #FFFFFF;
  --black: #2E2E2E;
  --marine-green: #00C4B4;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

