:root {
  /* Colores */
  --purple: #9B5DE5;
  --white: #FFFFFF;
  --black: #2E2E2E;
  --marine-green: #00C4B4;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

h2 {
  position: relative;
}
h2::before {
  content: "";
  display: block;
  position: relative;
  top:53%;
  left: -1.5em;
  width: 50px;
  height: 3px;
  background-color: var(--marine-green);
}