.home-services-section {
  background: var(--purple);
  background: radial-gradient(circle, var(--purple) 0%, var(--light-blue) 65%);
  padding-left: 10%;
  padding-right: 10%;
}

.home-services-h2 {
  font-size: clamp(1.5625rem, 1.25rem + 1.5625vw, 2.5rem);
}

.home-services-section span {
  font-size: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
}

.home-services-cards {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  row-gap: 35px;
}

/*
- Agregar estilo al fondo del componente x
- Agregar clamp al texto
- Cards:
	- Darle estilo a las cards x
	- Darle estilo y responsive al contenedor de las cards
	- Convertir en carousel


- ARREGLAR RESPONSIVE DEL BEFORE


*/