.hero-content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    /* top: 110px; */
}

.title-container{
    margin-top: 62px;
}

.hero-button{
    margin-top: 67px;
    text-align: center;
}

@media(min-width: 1024px){
    .span-title-container{
        display: flex;
        justify-content: flex-start;
        padding-left: 130px;
    }

    .hero-content-container{
        justify-content: center;
        /* top: 160px; */
    }
   
}