.card-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    height: 192px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card-value:hover {
    transform: scale(1.05);
}

.card-value span{
    width: 80%;
    color: var(--purple);
    font-size: 1rem;
}
