footer {
  padding: 60px;
  width: 100%;
}
.containerTitle {
  font-size: 20px;
  color: var(--purple);
}
.firstRowContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 50px;
}

.firstRowContainer > div {
height: auto;
padding: 3px;
}

#footerLogo {
  height: 158px;
  width: 242px;
}

/*Iconos de redes sociales*/
.mediaContainer a {
  height: 30px;
  width: 30px;
}

.socialLogoContainer {
  width: 305px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.socialLogoContainer span {
  color: var(--black);
  text-align: center;
  font-size: 18px;
}

.mediaContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.footerList li {
  list-style-type: none;
}

.footerList li a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
}

.footerList {
margin-top: 10px;
display: flex;
flex-direction: column;
gap: 25px;
}