@import url('/src/index.css');

.legal-description-container {
    display        : flex;
    flex-wrap      : wrap;
    gap            : 25px;
    justify-content: center;
    padding-top    : 5px;
    max-width: 4400px;
    min-width: 320px;
    margin: auto;
    height: auto;
    background: var(--white);

}

.left-column,
.right-column {
    padding: 0;
    /* width: 100%; */
    min-width: 320px; /* Se apilan cuando el contenedor */
    
}

.right-column {
    /* border         : 1px solid black; */
    
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding: 0%;
    margin: 0%;
    /* width: 50%; */
    width:clamp(5rem, 29vw + 19rem, 38rem);

    
}

.right-column img {
    width: auto;
    height: auto;
    max-width: 100%;
    /* top   : 755px; */
    left  : 128px;

    margin: 0;
    background-position: center center;
    
    
}

.left-column {
    /* border         : 1px solid black; */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 1rem;
    
    width:clamp(5rem, 29vw + 19rem, 30rem);
    height: auto;
}

.left-column p {
    font-size  : clamp(16px, 2vw, 24px); /*16px celular */ 
    line-height: 1.5rem;
    height: auto;

    
}

.textColor {
    color: var(--marine-green);

}

/*3ra Section*/
.section-display-container {
    padding-top        : .5rem;
    display            : flex;
    flex-wrap          : wrap;
    gap                : 25px;
    justify-content    : center;
    /* padding-bottom  : 30px; */
    background-color   : #D3E7F9F2;

    
    max-width: 4400px;
    margin: auto;
    height: auto;
}

.titles-for-display{
    height: auto;
    
}

.titles-for-display p {
    font-family             : Roboto;
    font-size               : clamp(16px, 2vw, 24px);
    font-weight             : 300vh;
    line-height             : 28.13px;
    text-align              : center;
    text-underline-position : from-font;
    text-decoration-skip-ink: none;
    height: auto;
       
}

.active {
    color        : var(--marine-green);
    border-bottom: 1px solid var(--marine-green);
}

.p-for-display {
    display        : flex;
    justify-content: flex-start;
    padding-left: 2vw;

}

.p-for-display p {
    font-family  : Roboto;
    font-size    : clamp(16px, 2vw, 24px);
    font-weight  : 300px;
    text-align   : left;
    max-width    : 33.7rem;
    overflow-wrap: break-word;
    word-wrap    : break-word;
    
    line-height             : 2rem; /*32px;*/
    padding: 10px;

}