.home-about-section {
display: flex;
width: 100%;
column-gap: 10px;
justify-content: space-between;
align-items: center;
}

.home-about-section > div {
  min-width: 50%;
}

/*Imagen de la izquierda*/

.home-about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-about-img img {
  width: clamp(320px, 100%, 600px);
  height: auto;
  object-fit: contain;
}

/*Contenido de la derecha*/

.home-about-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.home-about-logo {
  width: clamp(9.375rem, 1.1538rem + 17.3077vw, 15rem);
  align-self: center;
}

.home-about-content h2{
  font-size: clamp(2rem, 1.4167rem + 2.9167vw, 3.75rem);
}

.home-about-content span{
  font-size: clamp(1.25rem, 1.0417rem + 1.0417vw, 1.875rem);
  color: var(--purple);
}

.home-about-content p{
  font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.15rem);
}

@media (width <= 760px){
  .home-about-section {
    flex-wrap: wrap;
    gap: 30px;
  }

  .home-about-logo {
    display: none;
  }

  .home-about-content {
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}