.link-btn {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;  
    border: none;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.link-btn:hover {
    letter-spacing: 3px;
    background-color: hsl(273, 89%, 36%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(273, 89%, 36%) 0px 7px 29px 0px;
}
  
.link-btn:active {
    letter-spacing: 3px;
    background-color: hsl(273, 89%, 36%);;
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(273, 89%, 36%) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/* Tamaños */
.link-btn-normal{
    padding: 0.8rem 1rem;
}

.link-btn-small{
    padding: 0.9rem 0.2rem;
    width: 166px;
}

.link-btn-error{
    padding: 0.9rem 0.2rem;
    width: 220px;
    
}
.link-btn.link-btn-error{
    border-radius: 4px;
    background-color:  hsl(273, 89%, 36%) ;
}


/* 
.link-btn:hover{
    background-color: #b780fa;
    color: var(--black);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
} */