header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 0;
}

.navbar-container-custom {
  width: 100%;
  max-width: 1200px; /* Ajusta según el diseño */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 50px;
  left: 0;
  transition: background-color 0.3s ease-in-out, 
              padding 0.3s ease-in-out; 
  padding: 1rem 0; 
  z-index: 100;
}

.navbar-links-custom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-custom .navbar-links-custom .link-navbar-custom{
  color: var(--white); 
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1.090rem;
  position: relative; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin: 0;
}

.navbar-custom .navbar-links-custom .link-navbar-custom:hover{
  background: none;
  transform: translateY(-5px)
}

.navbar-custom .navbar-links-custom .link-navbar-custom::after{
  content: "";
  position: absolute;
  bottom: 0; /* Ubicación del subrayado */
  left: 0;
  width: 0; /* Inicialmente oculto */
  height: 2px; /* Grosor de la línea */
  background-color: var(--marine-green); /* Color del subrayado */
  transition: width 0.3s ease-in-out; /* Animación suave */
}

.navbar-custom .navbar-links-custom .link-navbar-custom:hover::after{
  width: 100%;
}

.navbar-custom.active {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  backdrop-filter: blur(2px); /* Aumenta un poco el desenfoque */
  -webkit-backdrop-filter: blur(4px);
  background: rgb(154 93 229 / 78%); /* Sombra más pronunciada para mayor contraste */
} 


.navbar-custom .btn-light {
  background-color: var(--white);
  color: var(--purple); 
}

.navbar-custom .logo {
  width: 135px;
  height: 35px;
  padding-left: 10px;
}

.navbar-custom.active .logo {
  width: 135px;
  height: 35px;
}

.navbar-custom,
.navbar-custom.active,
.dropdown {
  overflow: visible !important;
}

/*!! Dropdown !!*/
.navbar-custom .dropdown {
  position: relative; 
}

.dropdown .dropdown-custom{
  background: none;
  border: none;
}

.navbar-custom.active .dropdown .dropdown-custom{
 position: absolute;
  top: 48.078px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(154, 93, 229, 0.78);
  backdrop-filter: blur(8px); /* Aplica el desenfoque */
  -webkit-backdrop-filter: blur(8px); /* Soporte para Safari */
  padding: 20px 30px;
  border-radius: 0;
}

.dropdown-custom.dropdown-menu.show{
  position: absolute;
  top: 48.078px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(154, 93, 229, 0.78);
  backdrop-filter: blur(8px); /* Aplica el desenfoque */
  -webkit-backdrop-filter: blur(8px); /* Soporte para Safari */
  padding: 20px 30px;
  border-radius: 0;
}

.dropdown .dropdown-title{
  border: none;
  font-size: 1.090rem;
  background: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown .dropdown-title:hover{
  background: none;
  border: none;
  color: var(--white);
  transform: translateY(-5px)
}

.dropdown .dropdown-custom .dropdown-item{
  color: var(--white);
  font-size: 1.090rem;
  position: relative; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 10px 0;
}

.dropdown .dropdown-custom .dropdown-item:hover{
  background: none;
  transform: translateY(-5px)
}

.dropdown .dropdown-custom .dropdown-item::after{
  content: "";
  position: absolute;
  bottom: 0; /* Ubicación del subrayado */
  left: 0;
  width: 0; /* Inicialmente oculto */
  height: 2px; /* Grosor de la línea */
  background-color: var(--marine-green); /* Color del subrayado */
  transition: width 0.3s ease-in-out; /* Animación suave */
}

.dropdown .dropdown-custom .dropdown-item:hover::after {
  width: 100%; /* La línea crece al ancho completo */
}

.dropdown .btn.show, .dropdown .btn:first-child:active{
  background: none;
  font-weight: normal;
}


/*! boton de lenguaje*/
.navbar-language{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  gap: 5px;
  color: var(--purple);
}


.icon-language-container{
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon-language{
  width: 100%;
  height: 100%;
  
}

.language{
  cursor: pointer;
  color: var(--white);
  font: bold;
  border: none;
  background: none;
}


@media(max-width: 992px){
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 0;
  }

  .navbar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    gap: 20px;
    top: 50px;
    left: 0;
    transition: all 0.3s ease-in-out; 
    padding: 1rem 0; 
    z-index: 100;
  }

  .navbar-custom.active {
    position: fixed;
    left: 50%;
    top: 0;
    width: 100%;
    transform: translateX(-50%);
    padding: 0.5rem 0;
    border: none;
    backdrop-filter: blur(2px); /* Aumenta un poco el desenfoque */
    -webkit-backdrop-filter: blur(4px);
    background: rgb(154 93 229 / 78%); /* Sombra más pronunciada para mayor contraste */
  } 

  body.no-scroll {
    overflow: hidden;
  }

  .navbar-container-custom{
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 20px; /* Espaciado para que no queden pegados a los bordes */
  }

  .navbar-custom .logo {
    width: 135px;
    height: 35px;
    padding-left: 10px;
  }

  .navbar-custom.active .logo {
    width: 135px;
    height: 35px;
  }

  .navbar-brand{
    z-index: 99999;
  }

  .hamburger-menu{
    position: relative; /* Cambiar a relative para que respete flexbox */
    right: 0;
    border: none;
    outline: none !important;
  }

  .navbar-custom .navbar-toggler {
    background: none;
    border: none;
    color: var(--white);
    z-index: 1000; 
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
  outline: none !important; /* Asegura que no haya borde al enfocarlo o activarlo */
  border: none !important;
  box-shadow: none !important;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .navbar-collapse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-top: 9rem;
    background: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    opacity: 1;
    visibility: visible;
  }
  .navbar-collapse.show .link-navbar-custom {
    opacity: 1;
    transform: translateX(0);
  }

  .navbar-collapse::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--purple);
    z-index: -1; /* Asegúrate de que el ::before esté detrás del contenido */
  }

  .navbar-links-custom {
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 1; /* Asegúrate de que los enlaces estén por encima del ::before */
  }

  .navbar-custom .navbar-links-custom .link-navbar-custom{
    color: var(--white); 
    text-decoration: none;
    border: none;
    background: none;
    font-size: 1.4rem;
    opacity: 0; /* Ocultos por defecto */
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: relative; 
    margin: 0;
  }

  .navbar-custom .navbar-links-custom .link-navbar-custom:hover{
    background: none;
    transform: translateY(-5px)
  }

  .navbar-custom .navbar-links-custom .link-navbar-custom::after{
    content: "";
    position: absolute;
    bottom: 0; /* Ubicación del subrayado */
    left: 0;
    width: 0; /* Inicialmente oculto */
    height: 2px; /* Grosor de la línea */
    background-color: var(--marine-green); /* Color del subrayado */
    transition: width 0.3s ease-in-out; /* Animación suave */
  }

  .navbar-custom .navbar-links-custom .link-navbar-custom:hover::after{
    width: 100%;
  }

  .navbar-custom .btn-outline-light {
    background-color: var(--white);
    color: var(--purple); 
  }

.blog-disabled{
  opacity: 0.3 !important;
}

  /*!! Dropdown !!*/
  .dropdown .dropdown-mobile{
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .dropdown .dropdown-mobile .dropdown-custom {
    position: static;
    transform: none;
    background: none;
    border: none;
    padding: 0;
    margin-top: 1rem;
    min-width: unset;
    width: 100%;
  }

  .dropdown-custom.dropdown-menu.show, 
  .navbar-custom.active .dropdown .dropdown-custom{
    position: static;
    transform: none;
    background: none;
    border: none;
    padding: 0;
    margin-top: 1rem;
    min-width: unset;
    width: 100%;
  }

  .dropdown .dropdown-title{
    border: none;
    font-size: 1.4rem;
    background: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .dropdown .dropdown-title:hover{
    background: none;
    border: none;
    color: var(--white);
    transform: translateY(-5px)
  }

  .dropdown .dropdown-custom .dropdown-item{
    color: var(--white);
    font-size: 1.090rem;
    position: relative; 
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 10px 0;
    text-align: center;
  }

  .dropdown .dropdown-custom .dropdown-item:hover{
    background: none;
    transform: translateY(-5px)
  }

  .dropdown .dropdown-custom .dropdown-item::after{
    content: "";
    position: absolute;
    bottom: 0; /* Ubicación del subrayado */
    left: 0;
    width: 0; /* Inicialmente oculto */
    height: 2px; /* Grosor de la línea */
    background-color: var(--marine-green); /* Color del subrayado */
    transition: width 0.3s ease-in-out; /* Animación suave */
  }

  .dropdown .dropdown-custom .dropdown-item:hover::after {
    width: 100%; /* La línea crece al ancho completo */
  }

  .dropdown .btn.show, .dropdown .btn:first-child:active{
    background: none;
    font-weight: normal;
  }

  /*! boton de lenguaje*/
  .navbar-language{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--purple);
  }

  .icon-language-container{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .icon-language{
    width: 100%;
    height: 100%;
  }

  .language{
    cursor: pointer;
    color: var(--white);
    font: bold;
    border: none;
    background: none;
  }

  /* Disable scroll when menu is open */
    body.menu-open {
      overflow: hidden;
    }

  /* Agrega un delay incremental a cada enlace */
  .navbar-collapse.show .link-navbar-custom:nth-child(1) { animation: slideIn 0.4s ease-out forwards 0.1s; }
  .navbar-collapse.show .link-navbar-custom:nth-child(2) { animation: slideIn 0.4s ease-out forwards 0.2s; }
  .navbar-collapse.show .dropdown-mobile:nth-child(3) { animation: slideIn 0.4s ease-out forwards 0.3s; }
  .navbar-collapse.show .link-navbar-custom:nth-child(4) { animation: slideIn 0.4s ease-out forwards 0.4s; }
  .navbar-collapse.show .link-navbar-custom:nth-child(5) { animation: slideIn 0.4s ease-out forwards 0.5s; }
  .navbar-collapse.show .navbar-language:nth-child(5) { animation: slideIn 0.4s ease-out forwards 0.6s; }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}