.faqs-section {
  padding: 60px 30px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.faqs-text-container {
  text-align: center;
}

.faqs-text-container p {
  font-size: clamp(0.5rem, 3vw, 1rem);
}


.accordion-item {
  background-color: transparent;
  border: unset;
}

.accordion .accordion-item:first-child .accordion-button {
  border-top: 0.1rem solid var(--black);
  border-radius: unset;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
  border-radius: unset;
}

.accordion-header .accordion-button.collapsed {
  background-color: transparent;
  border-bottom: 0.1em solid var(--black);
  border-radius: unset;
  font-weight: 700;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--purple);
  background-color: transparent;
  font-weight: 700;
}

@media(width>1000px) {
  .accordion {
    width: 80%;
  }
  }