:root {
  /* Colores */
  --purple: #9B5DE5;
  --white: #FFFFFF;
  --black: #2E2E2E;
  --marine-green: #00C4B4;
  --light-blue: #D3E7F9;

  /* Fuentes */
  --main-font: "Roboto", serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

.h2-line-container{
  padding: 50PX 10PX;
}

.h2-line {
  position: relative;
  display: inline-block;
  font-size: clamp(2rem, 1.4167rem + 2.9167vw, 2.5rem);
  height: 50px;
}

.h2-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -56px;
  transform: translateY(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--marine-green);
}

.paragraph-custom-medium {
  font-size: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
}

.paragraph-custom-small{
  font-size: clamp(1rem, 1rem + 0.1786vw, 1.25rem);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-no-center{
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.gap-30 {
  gap: 30px;
}

.img-full {
  width: 100%;
  height: 100%;
}


@media (width < 822px) {
  .h2-line::before {
    top: 45%;
  }
}

@media(width > 769px){
  .h2-line-container {
    padding-left: 80px;
  }
}
