:root {
  /* Colores */
  --purple: #9B5DE5;
  --white: #FFFFFF;
  --black: #2E2E2E;
  --marine-green: #00C4B4;
  --light-blue: #D3E7F9;

  /* Fuentes */
  --main-font: "Roboto", serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

.h2-line {
  position: relative;
  display: inline-block;
  font-size: clamp(2rem, 1.4167rem + 2.9167vw, 2.5rem);
  height: 50px;
}

.h2-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -56px;
  transform: translateY(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--marine-green);
}


@media (width < 822px) {
  .h2-line::before {
    top: 45%;
  }
}
