.card-blog-article{
    cursor: pointer;
}

.medium-container,
.large-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3sease, box-shadow 0.3 sease;
    background: var(--white);
    overflow  : hidden;
    padding: 0;
    margin : 0;
}

/*linck al blog*/
.view-more {
    text-decoration: none;
    color          : var(--purple);
}

.card-blog-article:hover .view-more {
    font-weight: bold;
}

.card-blog-article:hover .medium-container,.card-blog-article:hover .large-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*!! Card Mediano*/
.medium-container {
    display        : flex;
    flex-direction : column;
    min-width: 250px;
    max-width: 350px;
    height: auto;
    width          : 100%;
    height         : auto;
    border-radius    : 20px;
}

.medium-container .img-container {
    max-width: 350px;
    width    : 100%;
    height: auto;
}

.medium-container .img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.medium-content{
    padding: 20px 10px;
}

.medium-container h2 {
    font-size : clamp(1rem, 2vw + 1rem, 1.5rem);
}

/*!! contenedor Fecha y link al blog */
.date-more-container {
    display         : flex;
    justify-content : space-between;
    flex-direction : row;
    gap            : 20px;
    width      : auto;
}

.date,
.view-more {
    padding: 0;
    margin : 0;
}

/*!! Card Grande*/
.large-container {
    display           : flex;
    flex-direction    : row-reverse;
    justify-content   : center;
    align-items       : center;
    /* width          : 1074px;
    height            : 340px; */
    width             : auto;
    height            : auto;
    padding           : 0;
    margin            : 0;
    border-radius: 20px;
}

.large-content {
    display        : flex;
    flex-direction : column;
    justify-content: left;
    align-items    : flex-start;
    gap            : 1rem;
    padding: 20px;
    width: 100%;
}


.large-container h2 {
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    margin   : 4vh;
    margin   : 0;
    padding  : 0;
}

.large-container p {
    font-size: clamp(0.6rem, 2vw + 1rem, 1rem);
    margin : 0;
    padding: 0;
}

.large-content .date-more-container {
    display         : flex;
    justify-content : space-between;
    flex-direction  : row;
    width: 100%;
    gap             : 20px;
    width           : auto;
}

.large-container .img-container {
    width: 100%;
    width : clamp(15rem, 33vw, 30rem);
}

.large-container .img-container img {
    width : 100%;
    height: auto;
    display: block;
}

@media (max-width: 750px) {
    .large-container {
        flex-direction: column;
        width         : auto;
        align-items   : center;
    }

    .large-container .img-container {
        width          : auto;
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .large-container .img-container img {
        width        : clamp(5rem, 20vw + 15rem, 30rem);
        height       : auto;
        border-radius: 20px 20px 0 0;
    }

    .large-content {
        width     : clamp(5rem, 10vw + 15rem, 28rem);
        padding   : 0.01rem;
        /* Agrega padding para evitar que el texto toque los bordes */
        text-align: center;
        margin: 10px;
    }
    .large-container .date-more-container{
        gap: clamp(2rem, 1vw + 2rem, 10rem);
    }
}


/*--LastArticles--*/
.main-card-container {
    width : 100%;
    height: auto;
    display          : flex;
    flex-wrap        : wrap;
    justify-content  : center;
    align-items      : center;
    border           : none;
    background: var(--white);
}

.title-articles {
    width        : 95%;
    padding      : 1vw;
    margin-top   : 5vh;
    border-bottom: 2px solid var(--black);
}

.title-articles h1 {
    color     : var(--purple);
    text-align: left;
}

.large-card-container {
    padding-top: 4rem;
}

.medium-card-container {
    padding              : 40px 5px;
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items          : center;
    gap: 20px;
    margin-top: 40px;
}