.hero__title-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 700px;
    color: var(--black);
    padding-left: 30px;
}

.title-service{
    font-size: 40px;
    font-weight: 800;
}

.paragraph-service{
    line-height: 24px;
    font-size: 20px;
}

@media(min-width: 1024px){
    .paragraph-service{
        font-size: 22px;
    }

    .hero__title-container{
        padding-left: 50px;
        max-width: 950px;
    }
}


@media(min-width: 1440px){
    .title-service{
        font-size: 70px;
    }

    .hero__title-container{
        padding-left: 82px;
        max-width: 1024px;
    }

    .paragraph-service{
        line-height: 26px;
        font-size: 24px;
    }
}